/* Reset */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    background: rgb(114, 219, 214);
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    font-family: serif;
}

.container{
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    max-width: 600px;
    overflow: hidden;
    position: relative;
}

/* SCREEMS */

.screen{
    display: none;
    padding: 2rem;
    text-align: center;

}

.screen.active{
    display: block;
}

/* START SCREEN */

#start-screen h1{
    color: #406997;
    margin-bottom: 20px;
    font-size: 2.5rem;
}

#start-screen p{
    color: #333;
    margin-bottom: 30px;
    font-size: 1.1rem;
}

/* QUIZ SCREEN */

.quiz-header{
    margin-bottom: 2rem;
}

#question-text{
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.4;
}

.quiz-info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #333;
}

.answers-container{
    display: flex;
    flex-direction: column;
}

.answer-btn{
    background-color: #f8f0e5;
    color: #333;
    border: 2px solid #eadbc8;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    text-align: left;
    transition: all 0.3s ease;
}

.answer-btn:hover{
    background-color: #eadbc8;
    border-color: #dac0ae;
}

.answer-btn.correct{
    background-color: #e6fff0;
    border-color: #a3f0c4;
    color: #28a745;
}

.answer-btn.incorrect{
    background-color: #fff0f0;
    border-color: #ffdddd;
    color: #dc3545
}

.progress-bar{
    height: 10px;
    background-color: #f8f0e5;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
}

.progress{
    height: 100%;
    background-color: #1f3a58;
    width: 0%;
    transition: width 0.3s ease;
}

/* RESULT SCREEN */

#result-screen h1{
    color: #406997;
    margin-bottom: 30px;
}

.result-info{
    background-color: #f8f0e5;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}

.result-info p{
    font-size: 1.5rem;
    color: #333;
}

#result-message{
    font-size: 1.5rem;
    font-weight: 600;
    color: #406997;
    margin-bottom: 10px;
}

button{
    background-color: #406997;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: #1f3a58;
}